
cad_files/sym-lib-table
cad_files/MOTOR_DRIVER_DRV8801.sch-bak
cad_files/MOTOR_DRIVER_DRV8801.net
cad_files/MOTOR_DRIVER_DRV8801-cache.lib
cad_files/GENERIC_CAN-rescue.lib
cad_files/fp-info-cache
cad_files/MOTOR_DRIVER_DRV8801.kicad_pcb-bak
cad_files/_autosave-MOTOR_DRIVER_DRV8801.kicad_pcb
